<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Its worth a shot...</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/assets/app.js"></script>
</head>
<body style="background-color: #131316; color: white; font-family: sans-serif">
<section>
    <div class="center-text text-container hidden">
    <h1>You got this far</h1>
        </div>
</section>
<section>
    <div class="center-text text-container hidden">
    <h2>add quote</h2>
        </div>
</section>
<section>
    <div class="center-text text-container hidden">
    <h2>add another sentence</h2>
        </div>
</section>
<section>
    <div class="center-text text-container hidden">
    <h2>And thats my Ted talk</h2>
        </div>
</section>
</body>
</html>