<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Juans Website</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="spacer layer1">
<div class="main">
        <div class="center-text">
    <h1>Welcome to my website!</h1>
            </div>
        <div class="center-text">
    <h2 class="center-text">Developed by: Juan Ramos</h2>
            </div>
        <div class="center-text">
    <a href="{{url_for('get_start_page')}}" class="center-text"><button class="button-56" role="button">Begin</button></a>
            </div>
</div>
</body>
<footer>
    <p>Copyright © {{current_year}}, Juan Ramos</p>
    </footer>
</html>