<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Would you want to do a 5k with me?</h1>
    <h3>(I'll pay)</h3>
    <button id="yesButton" class="animated-button">Yes</button>
    <button id="noButton" onclick="moveButton()" class="btn btn-primary">No</button>

  <script>
      //Get references to the button
      const button = document.getElementById('noButton');
      const button1 = document.getElementById('yesButton');
      //Initialize click count
      let clickCount = 0;

      button1.addEventListener('click', function () {
          window.location.href = "{{url_for('get_miracle_page')}}";
      })
      //Add a click event listener
      button.addEventListener('click', function () {
        clickCount++;
        if (clickCount >= 3) {
          window.location.href = "{{url_for('get_backup_page')}}";
      }
      })

    function moveButton() {
      var button = document.getElementById('noButton');
      var maxX = window.innerWidth - button.offsetWidth;
      var maxY = window.innerHeight - button.offsetHeight;

      var randomX = Math.floor(Math.random() * maxX);
      var randomY = Math.floor(Math.random() * maxY);

      button.style.left = randomX + 'px';
      button.style.top = randomY + 'px';
    }

  </script>
</body>
</html>